.each-team{
  border: 1px solid red;
  border-radius:15px;
  width: 360px;
  height: 400px;
  margin: 35px;
  align-items: center;
  float: left;
  background-color: lightgreen;
  text-align: center;
}

.team-badge{
  height: 150px;
}

.explore-button{
  background-color: chocolate;
  width: 160px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}

/* .fa-icon{
  width: 60px;
} */